Flask
flask-cors
psycopg2-binary
python-dotenv
gunicorn
PyJWT
pytest
pytest-asyncio
pytest-cov
pytest-docker
pytest-flask
SQLAlchemy
flask-sqlalchemy
google-api-python-client
google-auth
google-auth-oauthlib
flask-jwt-extended
passlib[bcrypt]