.swiper { 
    position: relative;
    margin-bottom: 60px;
}

.swiper-slide img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 60px;
}

.swiper-button-prev {
    left: 0;   
    right: auto;
    top: 50%;
    transform: translateY(-50%);
    color: red;  
}

.swiper-button-next {
    right: 0;     
    left: auto;
    top: 50%;
    transform: translateY(-50%);
    color: red;
}